.patient-card {
    color: black;
    background-color: #7db2ee;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    border: 1px black solid;
    border-radius: 10px;
    min-width: 25vw;
}

.patient-card:hover {
    box-shadow: 5px 5px 5px lightskyblue;
}
